<a href="https://colab.research.google.com/github/lsuhpchelp/lbrnloniworkshop2019/blob/master/day1_python/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


 #  Introduction to Python
##  April 08 2020
## Spring 2020 Tarining

<a id='top'></a>

<a id='overview'></a>
# Topics Covered
<font color=blue>
 * [What is Python](#intro)
 * [Python programming basics](#data-type)
 * [Control structures and functions](#control)
 * [Python modules](#module)</font>
<br>

<a id='intro'></a>
## What is Python?

 * A general-purpose programming language by Guido van Rossum
 * Intuitive and minimal coding
 * Interpreted not compiled
 * Dynamically typed, no type declarations, data type is tracked at runtime
 * Automatic memory management
 * Spacing defines blocks of code such as control structures and blocks
  <br>

# Why  Python?

## Advantages
* Ease of programming
* Minimal time to develop and maintain codes
* Modular and object-oriented
* Large standard and user-contributed libraries
* Large user community
 
## Disadvantages
 * Interpreted and therefore slower than compiled languages
 * Not great for 3D graphic applications requiring intensive computations
  <br>

## What is IPython?

 IPython: an interactive command shell for Python (2001) by Fernando Perez
* Enhanced Read-Eval-Print Loop (REPL) environment
* Command tab-completion, color-highlighted error messages..
* Basic Linux shell integration (cp, ls, rm…)
* Great for plotting!
* More information click _[ipython.org](http://ipython.org)_

## Jupyter Notebook 

* Web interface to Python, introduced in 2015 
* Rich text, improved graphical capabilities
* Integrate many existing web libraries for data visualization
* Allow to create and share documents that contain live code, equations, visualizations and explanatory text. 
* Interface with over 40 languages, such as R, Julia and Scala
* This colab.research.google.com notebook is a Jupyter notebook
[back to top](#top)

## Variables 

* Variable type is dynamically determined from the value it is assigned, no data type is declared
* Assign meaningful variable names
* Some keywords are reserved such as ‘print’, ‘assert’,  ‘while’, ‘lambda’, 'for', 'if'. 
* A variable is assigned a value using the ‘=’ operator, example:   x = 3 which is read as "the variable x is assigned the value of 3"
* Reference of [keywords](https://docs.python.org/3/reference/lexical_analysis.html#keywords)

## Operators 

* Arithmetic operators +, -, *, /, // (integer division for  floating point numbers), ’**’ power
* Boolean operators and, or and not
* Comparison operators >, <, >= (greater or equal), <= (less or equal), == equality

<a id='data-type'></a>
## Built-in Data Types   
<font color=blue>
* [Number](#numbers)
* [String](#string)
* [List](#list)
* [Tuple](#tuple)
* [Dictionary](#dic)
* [File](#file)    
 </font>
 [top](#top)

<a id='numbers'></a>
## Numbers

In [1]:
x = 3
type(x)

int

In [2]:
y = 3.0
type (y)

float

In [4]:
z='hello'
type(z)

str

In [11]:
int(3.3)

3

In [14]:
complex(3, 2)

(3+2j)

In [15]:
abs(-3.3)

3.3

In [18]:
import math

In [19]:
math.sin(60)

-0.3048106211022167

In [20]:
math.sqrt(25)

5.0

<a id='string'></a>
## Strings

In [21]:
my_str = 'Hello World'

In [36]:
print(my_str); len(my_str)

Hello World

11

In [41]:
#indexing starting at 0
print(my_str[0]); print(my_str[1]); print(my_str[10])

H
e
d

In [42]:
#string slicing
print(my_str[1:4]); print(my_str[:]); print(my_str[1:]); print(my_str[:4])

ell
Hello World
ello World
Hell

In [49]:
#string split
s1, s2 = my_str.split(); print(s1); print(s2)

Hello
World

In [52]:
#multiple line spanning
multilines= """This is a multi-line
block of sample
 text"""
print(multilines)

This is a multi-line
block of sample
 text

In [9]:
#string formatting
number_of_pigs = 300
text = "%d pigs in the barn, I’ll %s and %s" %(number_of_pigs,'huff','puff')
print(text)

300 pigs in the barn, I’ll huff and puff

In [15]:
total= "my share = %.5f, tip = %d" %(24.5, 5.5)
print(total)

my share = 24.50000, tip = 5

In [16]:
#more string ops
my_str="Hello World"
print(my_str.upper())
print(my_str.isalpha())
print(my_str[0].isalpha())
a='12'
print(a.isdigit())

HELLO WORLD
False
True
True

<a id='list'></a>
## Lists
* Collection of data [ ]
* Often used to store homogeneous values
    * e.g., Numbers, names with the same data type
* Mutable: modify in place without creating a new object

In [59]:
my_list = [1,2,9,4]
print(my_list)
#how to find out the data type?

[1, 2, 9, 4]

In [21]:
my_list2 = list(range(-4,10, 4))
print(my_list2)

[-4, 0, 4, 8]

In [22]:
# access list members by index 
# start at 0, end at n-1
print("1st element =", my_list[0])
print("last element =", my_list[3])

1st element = 1
last element = 4

In [44]:
#Contatenate lists
print(my_list + my_list)
print(my_list *2)
print(my_list *3)
print(my_list)

[1, 2, 9, 4, 1, 2, 9, 4]
[1, 2, 9, 4, 1, 2, 9, 4]
[1, 2, 9, 4, 1, 2, 9, 4, 1, 2, 9, 4]
[1, 2, 9, 4]

In [29]:
# iterate list elements
animals = ['dog','cat','horse']
for pet in animals:
    print(pet)

dog
cat
horse

In [40]:
print(list(enumerate(animals)))

for index, name in enumerate(animals):
    print(index+1, name)

[(0, 'dog'), (1, 'cat'), (2, 'horse')]
1 dog
2 cat
3 horse

In [60]:
# modify list
del my_list[0]; print(my_list)
my_list.append(99); print(my_list)
my_list.insert(1, 100); print(my_list)

[2, 9, 4]
[2, 9, 4, 99]
[2, 100, 9, 4, 99]

In [65]:
#some list funs

my_list.sort(); print(my_list)
my_list.reverse(); print(my_list)

[2, 4, 9, 99, 100]
[100, 99, 9, 4, 2]

In [71]:
#more sorting
my_list3 = ['cats', 'SHEEP','DOGS','horses']
print(sorted(my_list3))
print(sorted(my_list3, key=len))
print(sorted(my_list3, reverse=True))
print(my_list3)

['DOGS', 'SHEEP', 'cats', 'horses']
['cats', 'DOGS', 'SHEEP', 'horses']
['horses', 'cats', 'SHEEP', 'DOGS']
['cats', 'SHEEP', 'DOGS', 'horses']

In [72]:
# sort by lowercase
sorted(my_list3, key=str.lower)

['cats', 'DOGS', 'horses', 'SHEEP']

In [74]:
#list comprehension [expr for var in list]
my_list4=[2,5,9,1]
square = [x**2 for x in my_list4]; print("square =", square)
large = [n for n in my_list4 if n >= 5]; print('large =',large)

square = [4, 25, 81, 1]
large = [5, 9]

<a id='tuple'></a>
## Tuples

  * Why Tuple?
  * Processed faster than lists
  * Sequence of a Tuple is protected
  * Sequence unpacking

Suprising Trait:

Python tuples are immutable, but their values may change. This may happen when a tuple holds a reference to any mutable object, such as a list. ... It's clear that dum and dee refer to objects that are equal, but not to the same object.

( [ On immutable but changing tuples](http://radar.oreilly.com/2014/10/python-tuples-immutable-but-potentially-changing.html))

[Tutorial just on Python Tuples](https://www.tutorialspoint.com/python/python_tuples.htm)

In [77]:
my_tuple = 1, 2, 'three'
print(my_tuple)
#empty tuples
my_empty_tuple = ()
print(my_empty_tuple)

(1, 2, 'three')
()

In [78]:
# you have to include a comma, even though there is only one value
tup1 = (50,);
print(tup1)

(50,)

In [79]:
my_tup = (2, 8, 3, 1)
print(my_tup)
a,b,c,d = my_tup
print(a, b, c, d)

(2, 8, 3, 1)
2 8 3 1

In [80]:
print(my_tup[0])

2

In [89]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ");
print(tup)

('physics', 'chemistry', 1997, 2000)
After deleting tup :

NameError: name 'tup' is not defined

Immutable?  Not?

In [98]:
dum = ('1861-10-23', ['poetry', 'pretend-fight'])
dee = ('1861-10-23', ['poetry', 'pretend-fight'])

print(dum == dee)

print(dum is dee)

id(dum), id(dee)

True
False

(140024897368776, 140024897376456)

In [99]:
t_doom = dum
print(dum, t_doom)

print(t_doom == dum)
print(t_doom is dum)
id(t_doom), id(dum)

('1861-10-23', ['poetry', 'pretend-fight']) ('1861-10-23', ['poetry', 'pretend-fight'])
True
True

(140024897368776, 140024897368776)

In [100]:
skills = t_doom[1]
print(skills)

skills.append('rap')
print(t_doom)

['poetry', 'pretend-fight']
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])

In [102]:
print(dum == dee)
print(dum)

False
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])

<a id='dic'></a>
## Dictionaries
* List of key-value pairs { }
* Unordered collections of objects, not indexed
* Store objects in a random order to provide faster lookup
* Data type are heterogeneous
* Element are accessed by a keyword, not index
* Elements are mutable 
* dict = {"key1”: value1,  “key2”: value2} 

[Tutorialspoint.com  on  Dictionaries](https://www.tutorialspoint.com/python/python_dictionary.htm)

In [104]:
my_dict = {'cats': 4, 'dogs':2, 'sheep':3}
print(my_dict)

{'cats': 4, 'dogs': 2, 'sheep': 3}

In [105]:
print(my_dict["cats"])

4

In [109]:
my_dict['horse'] = 3; print(my_dict); print(sorted(my_dict))

{'cats': 4, 'dogs': 2, 'sheep': 3, 'horse': 3}
['cats', 'dogs', 'horse', 'sheep']

In [110]:
print(my_dict.keys()); print(my_dict.values())
print(sorted(my_dict.values()))

dict_keys(['cats', 'dogs', 'sheep', 'horse'])
dict_values([4, 2, 3, 3])
[2, 3, 3, 4]

In [111]:
for key, value in my_dict.items():
    print(key, value)

cats 4
dogs 2
sheep 3
horse 3

<a id='file'></a>
## Files
* file open, close, read, write
* file_handle = open(“file_name”, ‘mode’)
    * Modes: 
    * a: append
    * r: read only (error if not existing)
    * w: write only
    * r+: read/write (error if not existing)
    * w+: read/write
    * b: binary
* Python has a built-in garbage collector
* Object memory space is auto reclaimed once a file is no longer in use

In [1]:
! if [ ! -f "data.txt" ]; then wget 'https://raw.githubusercontent.com/lsuhpchelp/lbrnloniworkshop2018/master/day2_python/data.txt'; else echo 'file exists'; fi;

file exists

In [8]:
input = open('data.txt', 'r')
content = input.read()
input.close()
print(content)

#  x01.txt
#    Academic Press, 1991, page 304,
#    ISBN 0-12-656460-4.
#    There are 62 rows of data.  The 3 data columns include:
#      I,  the index,
#      A1, the brain weight;
#      B,  the body weight.
#    We seek a model of the form:
#
#      B = A1 * X1.
#
3 columns
62 rows
Index
Brain Weight
Body Weight
# here is the training set
 1     3.385    44.500 abjhk
 2     0.480    33.38  bc_00asdk
 3     1.350     8.100 fb
 4   465.000   423.000 cer
 5    36.330   119.500 rg
# here is the cross validation set
 6    27.660   115.000 rk
 7    14.830    98.200 fff
 8     1.040     5.500 zxs
 9     4.190    58.000 kij

In [10]:
#write to a file
!ls -l
output = open('write.txt','w')
output.write("Writing to a file")
output.close()
!ls -l
!cat write.txt

total 60
-rw-r--r-- 1 jyu31 Admins   630 Mar 31 16:36 data.txt
-rw-r--r-- 1 jyu31 Admins  8667 Mar 31 16:36 dum-dee.png
-rw-r--r-- 1 jyu31 Admins 39424 Apr  7 00:41 intro_python.ipynb
-rw-r--r-- 1 jyu31 Admins    17 Apr  7 11:00 write.txt
total 60
-rw-r--r-- 1 jyu31 Admins   630 Mar 31 16:36 data.txt
-rw-r--r-- 1 jyu31 Admins  8667 Mar 31 16:36 dum-dee.png
-rw-r--r-- 1 jyu31 Admins 39424 Apr  7 00:41 intro_python.ipynb
-rw-r--r-- 1 jyu31 Admins    17 Apr  7 11:01 write.txt
Writing to a file

<a id='control'></a>
## Control Structures 
<font color=blue>
* if-else
* for loops, while loops
* break: jump out of the current loop
* continue: jump to the top of next cycle within the loop
* pass: do nothing 
</font> 
[top](#top)

In [17]:
x = 500 #input("Please enter a number")
if ( x > 5 ):
  print("Hi, greater than 5")
elif ( x < 5 ):
  print("Hi, smaller than 1000")
else:
    print("x = 5")

Hi, greater than 5

In [23]:

for num in range(3):
    print(num)

In [19]:
index=0
while (index < 3):
    print(index)
    index = index + 2
print("Done")

0
2
Done

<div class='alert alert-block alert-danger'>  Tip: <div>
Indentation: signify code blocks  <div>

In [1]:
#prime numbers

n = 2
while n < 7:
    for x in range(3,5):
        if n < x:
            print("break")
            break
        elif n > x:
            print("pass")
            pass
        else:     
            print("continue")
            n = n + 1
            continue
    n = n + 1

break
continue
continue
pass
pass

<a id='module'> </a>
## Functions
def func_name(par1, par2,...): 
> body of code
 
 [top](#top)

In [2]:
#addition
def my_add(x, y):
    return x+y

sum=my_add(3, 8); print(sum)

11

In [5]:
#return multiple values
def power(input):
    return input**2, input**3

power(3)

(9, 27)

<a id='module'> </a>
## Python Module
* A python script with python functions and statements
* Import a module before having access to all the functions within
* Most Python distributions come with plenty of build-in modules 
***
 [top](#top)


## Python Modules
* math, sys, os..
* NumPy, high performance in vector & matrix using vector computation 
* SciPy: based on Numpy, including many scientific algorithms.
* padas
* matplotlib, pyplot, pylab

Reference to [Python3.x standard libraries](https://docs.python.org/3/library/)

In [8]:
#import a module
import math
print(math.pi)

3.141592653589793

In [9]:
#get information of a module
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [10]:
#get information
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.6/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /usr/local/packages/python/3.6.4-anaconda/lib/python3.6/lib-dynload/math.cpython-36m-x86_64-linux-gnu.so

In [13]:
# get information of a module function 
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#### Data processing

In [ ]:
# Plot a bar chart
import matplotlib.pyplot as plt


xlabeles = ['January','February','March','April']
xticks = [i for i in range(len(xlabeles))]
y = [ 34, 17, 13, 69]
e = [5.2, 10., 1.5, 12.]
plt.errorbar(xlabeles, y, yerr=e, fmt='d', capsize=10)
plt.bar(xlabeles, y, 0.5, color='red' )
plt.title("Sale by Month")
plt.xlabel('Month')
plt.ylabel('Sale')
plt.xticks(xticks, xlabeles)

plt.show()

# Summary

 * Python is an interpreted language, concise yet powerful
 * Built-in data types
     * Numbers, strings, list, dictionaries, tuples, files
 * Control structures
     * For, while, if-else, break, pass, continue
 * Functions
 * Python modules
  <br>

# Please help us finish the training survey:

 * [Training survey](https://forms.office.com/Pages/ResponsePage.aspx?id=P61NLa5Q2UeDoJrisfRm-Gquet-W2uBIu1blHkiYGj1UNzhENzBLVVFNWkxYUEIwUlpRRzczWEVSMy4u)
 * [Survey for summer workshop](http://lsu.qualtrics.com/jfe/form/SV_6Xsj3BCu1jA6nmR)
  <br>